@model IEnumerable<SrsWebsite.Models.Shooting>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    function cellStyle(value, row, index) {
        console.log("test!");
        var classes = ['active', 'success', 'info', 'warning', 'danger'];
        var vartrue = true;
        if (vartrue === true ) {
            return {
                classes: classes[1]
            };
        }
        return {};
    }

    cellStyle(0, 0, 0);
</script>


<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-dark" data-cell-style="cellStyle">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfShoots)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFinished)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CaliberType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShootingType)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfShoots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFinished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaliberType.CaliberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType.Name)
        </td>
        @if (item.ShootingType.Name == "Indskydning")
        {
            <td class="bg-warning">
           
                @Html.DisplayFor(modelItem => item.ShootingType.Name)

            </td>
        } else if(item.ShootingType.Name == "Bukke Skydning"){ 
            <td class="bg-success">
                @Html.DisplayFor(modelItem => item.ShootingType.Name)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ShootingId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ShootingId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ShootingId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
