@model IEnumerable<SrsWebsite.Models.Shooting>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfShoots)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFinished)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfShoots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinished)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShootingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShootingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShootingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
